@model Product
@{
    Layout = "_BasicLayout";
    ViewBag.Title = " Product Name";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    @Model.Name
</body>
</html>
